@import url(variables.css);

*{box-sizing: border-box;}

body{
    background-color: var(--thistle);
    margin:0;
}


header input{
    display: none;
}

header nav{
    background-color: var(--glossy-grape);
    width: 100%;
}

header{
    text-align: center;
}

header .iconify{
    margin-left: 80%;
    cursor: pointer;
}

header ul{
    margin: 0;
}

nav{
    border-bottom: 5px var(--russian-violet) solid;
}

header img {
    margin-bottom: 1em;
}


ul li{
    list-style: none;
    
}

ul a{
    color: unset;
    text-decoration: none;
    color: var(--russian-violet);
    font-size: 2.5em;
    font-family: var(--f2);
    
}

header li a{
    width: 100%;
    display: inline-block;
    padding: 0.3em;
    
}

ul li:nth-last-of-type(even) a{
    background-color: var(--sectiondarker);
}


header ul{
    padding:0;
    display: none;
    
}

header #menuButton:checked + ul{
    display: flex;
    flex-direction: column;
}

nav{
    position: fixed;
    top: 0;
}


p{
    color: var(--russian-violet);
    font-family: var(--f6);
    font-size: 1.6em;
    line-height: 1.6em;
    font-weight: 600;

}

main{
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 1em;
}

#card{
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    
}

.keyword{
    margin-top: 7em;
    padding: 0;
    font-style: italic;
    font-size: 1em;
    margin-bottom: 0;
}

h2{
    font-family: var(--f7);
    color: var(--russian-violet);
    margin: 0;
    font-size: 3em;
}

#flexBox .title{
    width: 90%;
    margin: auto;
}

section h1{
    font-family: var(--f7);
    color: var(--russian-violet);
    margin: 0;
    font-size: 4em;
}


main section{
    width:90%;
}

main section:first-of-type{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

main section:last-of-type{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.disabled{
    pointer-events: none;
    color: gray;
    text-decoration: line-through;
}

header a{
    text-decoration: none;
    outline: none;
}

main{
    background-color: var(--glossy-grape);
}

main section{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

main section h3{
    margin: 0;
    font-size: 3em;
    text-align: center;
    font-family: var(--f7);
    color: var(--russian-violet);
}


@media (min-width: 1080px){
    
    #flexBox{
        display: flex;
        flex-flow: column wrap;
        place-items: center;
        margin: auto;
    }
    header ul li:nth-last-of-type(even) a{
        background-color: unset;
    }
    header ul a:hover{
        outline: 3px solid var(--russian-violet);
    }
    header section{
        width: 20%;
    }
    header section.title{
        width: 90%;
        margin: auto;
        margin-top: 3%;
    }

    header nav{
        position: relative;
    }

    label[for="menuButton"]{
        display: none;
    }
    header{
        display: block
    }

    header ul{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: center;
        
    }

    header li a{
        display: inline;
        width: 20%;
    }

    header nav li{
        display: inline;
        width: 1%;
    }
    
    header nav {
        background-color: unset;
        border-bottom: none;
    }

    main section{
        width: 45%;
    }

    main{
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: flex-start;
    }

    main section:first-of-type{
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    main section:last-of-type{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    main section{
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        margin:2%;
        border-radius: 10px;
        height:50em;
    }
    main section img{
        margin-top: 10%;
    }


    
    main{
        border-radius: 20px;
        margin: 2% 5%;
        background-color: var(--glossy-grape);
    }
}